abook/addressbook~
config/beets/state.pickle
config/chromium/SingletonCookie
config/chromium/SingletonLock
config/chromium/SingletonSocket
config/chromium*/Certificate Revocation Lists
config/chromium*/Channels
config/chromium*/chrome_shutdown_ms.txt
config/chromium*/Default/Bookmarks*
config/chromium*/Default/Cookies*
config/chromium*/Default/Current*
config/chromium*/Default/Extensions*
config/chromium*/Default/Extension State*
config/chromium*/Default/Favicons*
config/chromium*/Default/GCM Store*
config/chromium*/Default/GPUCache*
config/chromium*/Default/History*
config/chromium*/Default/Last*
config/chromium*/Default/Local Extension Settings*
config/chromium*/Default/Local Storage*
config/chromium*/Default/Login Data*
config/chromium*/Default/Network*
config/chromium*/Default/Origin Bound Certs*
config/chromium*/Default/Pepper Data*
config/chromium*/Default/Preferences
config/chromium*/Default/QuotaManager*
config/chromium*/Default/README
config/chromium*/Default/Shortcuts*
config/chromium*/Default/Top Sites*
config/chromium*/Default/TransportSecurity
config/chromium*/Default/Visited Links*
config/chromium*/Default/Web Data*
config/chromium*/Default/Local Storage*
config/chromium*/Default/Session Storage*
config/chromium*/Default/databases*
config/chromium*/Dictionaries*
config/chromium*/EVWhitelist*
config/chromium*/First Run
config/chromium*/Local State
config/chromium*/Safe Browsing*
config/chromium*********/Default/WebRTC*
config/chromium*/ev_hashes_whitelist.bin
config/chromium*/pnacl*
config/darktable/library.db
config/dconf/user
config/easytag
config/gtk-2.0/gtkfilechooser.ini
config/gtk-3.0/bookmarks
config/geeqie/*
config/gconf/*
config/icedtea-web/*
config/libreoffice/4/.lock
config/libreoffice/4/cache/*
config/libreoffice/4/user/backup/*
config/libreoffice/4/user/config/fontnameboxmruentries
config/libreoffice/4/user/config/javasettings_Linux_X86_64.xml
config/libreoffice/4/user/extensions/*
config/libreoffice/4/user/gallery/*
config/libreoffice/4/user/psprint/pspfontcache
config/libreoffice/4/user/registrymodifications.xcu
config/libreoffice/4/user/store/.templdir.cache
config/libreoffice/4/user/temp/document_io_logring.txt
config/libreoffice/4/user/uno_packages/*
config/LightTable/Cache/*
config/LightTable/cookies
config/LightTable/cookies-journal
config/LightTable/GPUCache/*
config/LightTable/Local Storage/*
config/LightTable/logs/*
config/LightTable/ltcache/*
config/LightTable/SingletonCookie
config/LightTable/SingletonLock
config/LightTable/SingletonSocket
config/pavucontrol.ini
config/pulse/*
config/Trolltech.conf
config/ranger/bookmarks
config/ranger/history
config/ranger/tagged
config/vim/.netrwhist
config/vlc/vlc-qt-interface.conf
cmus/autosave
cmus/cache
cmus/command-history
cmus/lib.pl
cmus/playlist.pl
cmus/search-history
gimp-2.8/*
links/links.his
mcabber/otr
mozilla/firefox/Crash Reports/
mozilla/firefox/profile.*/.parentlock
mozilla/firefox/profile.*/lock
mozilla/firefox/profile.*/crashes/
mozilla/firefox/profile.*/SiteSecurityServiceState
mozilla/firefox/profile.*/SiteSecurityServiceState.txt
mozilla/firefox/profile.*/Telemetry.ShutdownTime.txt
mozilla/firefox/profile.*/addons.json
mozilla/firefox/profile.*/blocklist.xml
mozilla/firefox/profile.*/bookmarkbackups/
mozilla/firefox/profile.*/cert8.db
mozilla/firefox/profile.*/cert_override.txt
mozilla/firefox/profile.*/compatibility.ini
mozilla/firefox/profile.*/content-prefs.sqlite
mozilla/firefox/profile.*/cookies.sqlite
mozilla/firefox/profile.*/cookies.sqlite-shm
mozilla/firefox/profile.*/cookies.sqlite-wal
mozilla/firefox/profile.*/datareporting/
mozilla/firefox/profile.*/enumerate_devices.txt
mozilla/firefox/profile.*/extensions.ini
mozilla/firefox/profile.*/extensions.json
mozilla/firefox/profile.*/extensions/*
mozilla/firefox/profile.*/firebug/
mozilla/firefox/profile.*/formhistory.sqlite
mozilla/firefox/profile.*/gmp-gmpopenh264/
mozilla/firefox/profile.*/healthreport.sqlite
mozilla/firefox/profile.*/healthreport.sqlite-shm
mozilla/firefox/profile.*/healthreport.sqlite-wal
mozilla/firefox/profile.*/jetpack/
mozilla/firefox/profile.*/key3.db
mozilla/firefox/profile.*/kinto.sqlite
mozilla/firefox/profile.*/lightweighttheme-footer
mozilla/firefox/profile.*/lightweighttheme-header
mozilla/firefox/profile.*/logins.json
mozilla/firefox/profile.*/lwtheme/
mozilla/firefox/profile.*/mimeTypes.rdf
mozilla/firefox/profile.*/permissions.sqlite
mozilla/firefox/profile.*/places.sqlite
mozilla/firefox/profile.*/places.sqlite-journal
mozilla/firefox/profile.*/places.sqlite-shm
mozilla/firefox/profile.*/places.sqlite-wal
mozilla/firefox/profile.*/pluginreg.dat
mozilla/firefox/profile.*/prefs.js
mozilla/firefox/profile.*/reading-list.sqlite
mozilla/firefox/profile.*/reading-list.sqlite-wal
mozilla/firefox/profile.*/revocations.txt
mozilla/firefox/profile.*/saved-telemetry-pings/
mozilla/firefox/profile.*/search-metadata.json
mozilla/firefox/profile.*/search.json
mozilla/firefox/profile.*/search.json.mozlz4
mozilla/firefox/profile.*/serviceworker.txt
mozilla/firefox/profile.*/searchplugins/
mozilla/firefox/profile.*/secmod.db
mozilla/firefox/profile.*/sessionCheckpoints.json
mozilla/firefox/profile.*/sessionstore.js
mozilla/firefox/profile.*/sessionstore-backups/
mozilla/firefox/profile.*/storage/
mozilla/firefox/profile.*/storage.sqlite
mozilla/firefox/profile.*/times.json
mozilla/firefox/profile.*/useragentswitcher/
mozilla/firefox/profile.*/webapps/
mozilla/firefox/profile.*/webappsstore.sqlite
mozilla/firefox/profile.*/webappsstore.sqlite-shm
mozilla/firefox/profile.*/webappsstore.sqlite-wal
mozilla/firefox/profile.*/xulstore.json
mutt/aliases.bak
Idea*/config/componentVersions/*
Idea*/config/options/appComponentVersions.xml
Idea*/config/options/dimensions.xml
Idea*/config/options/feature.usage.statistics.xml
Idea*/config/options/find.recents.xml
Idea*/config/options/jdk.table.xml
Idea*/config/options/options.xml
Idea*/config/options/other.xml
Idea*/config/options/proxy.settings.pwd
Idea*/config/options/recentProjects.xml
Idea*/config/options/runner.layout.xml
Idea*/config/options/statistics.application.usages.xml
Idea*/config/options/usage.statistics.xml
Idea*/config/options/vcs.xml
Idea*/config/options/window.manager.xml
Idea*/config/plugins/*
Idea*/config/port
Idea*/system/*
VirtualBox/*.log*
VirtualBox/VirtualBox.xml
VirtualBox/VirtualBox.xml-prev
VirtualBox/compreg.dat
VirtualBox/xpti.dat
