[Desktop Entry]
Type=Application
Terminal=false
GenericName=Web Browser
Name=Aurora Tor (sandbox)
Icon=firefox-aurora-icon
Name[en_US]=Aurora Tor (sandbox)
Icon[en_US]=firefox-aurora-icon
Categories=Application;Network;
Encoding=UTF-8
Exec=firefox-aurora-tor %u
MultipleArgs=false
StartupNotify=true
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;
