[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/usr/share/uzbl/examples/data/uzbl.png
Name[en_US]=Uzbl (Tor)
Exec=uzbl-tor
Name=Uzbl (Tor)
GenericName=Web Browser (Tor)
Icon=/usr/share/uzbl/examples/data/uzbl.png
Categories=Network;GNOME;GTK;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
X-Desktop-File-Install-Version=0.22
